<div class="navbar-expand-sm navbar-js">
  <h1 class="JS-header" id="julie">JULIE SINCLAIR</h1>
  <h4>Clinical Psychologist, BPS - HCPC accredited</h4>
  <h5><em> (BS, CPsychol, Chartered DCliPsy)</em></h5>
  <div class="navbar-collapse">
    <div id="myLinks">
      <a href="#">Home</a>
      <a href="#">Services</a>
      <a href="#">Fees</a>
      <a href="#">Contact</a>
      <%#= link_to "Home", "/", class: "nav-link active" %>
      <%#= link_to "Services", "#", class: "nav-link" %>
      <%#= link_to "Fees", "#", class: "nav-link" %>
      <%#= link_to "Contact me", "#", class: "nav-link" %>
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>