<div class="navbar navbar-expand-sm topbar-js">

    <%= link_to "#", class: "topbar-jslogo pl-3" do %>
      <%= image_tag "favicon.png" %>
    <% end %>
    <p class="text-right p-2" id="call-text">Call to schedule your free consultation +44750 788 1113</p>

</div>