<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=799&q=80);">
  <div class="container text-center" id="banner-text">
    <h1>London-based therapist, specialising in anxiety, depression and chronic pain</h1>
    <p><em>I believe in creating a trusting and compassionate environment where people can openly discuss their difficulties.</em></p>
    <a class="btn btn-light" href="#">Enquire now</a>
  </div>
</div>

<div class="profile">
  <%= image_tag 'profile.png', class: "avatar" %>
  <div class="profile-text">
    <div class="profile-head">
    <h2>Hello, I'm Julie<h2> 
    <div class="profile-para">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex corporis quis at id dolorum. 
    Debitis beatae sequi eaque veritatis pariatur culpa ea, facilis quis quaerat at dicta consequatur numquam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex corporis quis at id dolorum. 
    Debitis beatae sequi eaque veritatis pariatur culpa ea, facilis quis quaerat at dicta consequatur numquam.</p>
    </div>
    </div>
  </div>
</div>

<div class="specialities">
    <div class="speciality" id="anxiety">
        <h2>Anxiety</h2>
        <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
        <br>
        Debititis beaut squie amet veritutus elit.</p>
    </div>
    <div class="speciality" id="depression">
        <h2>Depression</h2>
        <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
        <br>
        Debititis beaut squie amet veritutus elit.</p>
    </div>
    <div class="speciality" id="chronic-pain">
        <h2>Chronic pain</h2>
        <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
        <br>
        Debititis beaut squie amet veritutus elit.</p>
    </div>
</div>

<div class="issues row">
  <div class="col-4 text-center">
    <p>Behavioural Issues</p>
    <p>Bereavement</p>
    <p>Bipolar Disorder</p>
    <p>Borderline Personality</p>
    <p>Chronic Illness</p>
  </div>
  <div class="col-4 text-center">
    <p>Coping Skills</p>
    <p>Emotional Disturbance</p>
    <p>Life Transitions</p>
    <p>Obsessive-Compulsive (OCD)</p>
    <p>Peer Relationships</p>
  </div>
  <div class="col-4 text-center">  
    <p>Relationship Issues</p>
    <p>Self Esteem</p>
    <p>Sexual Abuse</p>
    <p>Stress</p>
    <p>Trauma and PTSD</p>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center" id="banner-text">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum beatae dolorum nulla nihil magnam, sapiente molestiae aspernatur quisquam impedit tempore accusamus. </em></p>
  </div>
</div>

<%= render 'components/form' %>