<div class="home">
<%= render 'components/navbar'%>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593227500315-8bad8e6d751a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center" id="banner-text">
    <h1>London-based therapist, specialising in anxiety, depression and chronic pain</h1>
    <p><em>I believe in creating a trusting and compassionate environment where people can openly discuss their difficulties.</em></p>
    <button class="btn-enquire">Enquire now</button>
  </div>
</div>

<div class="section">
  <div class="profile">
    <%= image_tag 'profile.png', class: "avatar" %>
    <div class="profile-text">
      <div class="profile-head">
        <h2>Hello, I'm Julie<h2> 
        <div class="profile-para">
          <p class="text-justify">I know how difficult it is to find a therapist you can trust for help with your emotional and psychological difficulties. Sometimes our suffering is concealed from friends, family or colleagues because we are good at hiding it but deep inside, we are left feeling far from happy, fulfilled or content. At other times our difficulties are more noticeable. I am passionate about helping people live better lives. I help them discover what matters to them, what type of person they want to be and how they would like to behave. Once their values are clarified I help them make sustainable changes towards the things that are important to them.
          <br>
          <br> I see adolescents, adults and older adults with anxiety disorders (phobias, social anxiety, health anxiety, OCD, PTSD, panic attacks, GAD), depression (acute, chronic, SAD), personality disorders, bereavement, loss, abuse, neglect, anger and relationship problems. I have a particular interest in physical health conditions such as chronic pain and CFS.
          <br>
          <br> I am an experienced Clinical Psychologist with 15 years in the NHS. I believe in creating a trusting and compassionate environment where people can openly discuss their difficulties. I consider myself a kind, empathic and pragmatic therapist who works with integrity and treats confidentiality as paramount. I offer therapy either face to face or via Skype.</p> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center" id="banner-text">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum beatae dolorum nulla nihil magnam, sapiente molestiae aspernatur quisquam impedit tempore accusamus. </em></p>
  </div>
</div>

<div class="section">
  <div class="qualifications anchor" id="qualifications">
    <h1 class= "text-center">TRAINING, QUALIFICATIONS AND EXPERIENCE</h1>
    <hr>
    <p class="text-justify">I am a very experienced Clinical Psychologist (DClinPsy) and Chartered Psychologist (CPsychol) with over 15 years working in the area of mental health in the NHS. I gained proficiency in the assessment, diagnosis and treatment of patients with emotional and psychological difficulties whilst working in major hospitals and institutions in the London area; these include Imperial College NHS Trust, the Royal Brompton and Harefield NHS Trust and I am currently employed at the National Hospital for Neurology and Neurosurgery.
    <br>
    <br>
    As part of my training, I am experienced in working with a variety of psychological models such as cognitive Behavioural therapies; Acceptance and Commitment Therapy, Person Centred Approach, Narrative Therapy, Compassion Focused Therapy, Solution Focused Therapy and Mindfulness based cognitive therapy. I believe in being flexible and adjusting these approaches to best suit the person's needs according to their physical health, age, culture factors, psychological outlook and social environment. My focus is on empowering people to take an active part in the management of their health and to optimise their inner resources. Therapies may also involve skills acquisition such as assertiveness, communication, problem solving or conflict resolution training.</p>
  </div>
</div>

<div class="section">
  <h1 class= "text-center anchor" id="services">SERVICES</h1>
  <hr>
</div>

<div class="specialities">
    <div class="speciality" id="anxiety">
        <h2>Anxiety</h2>
        <p>Excessive and persistent worry, fear, nervousness or uneasiness that interferes with our daily activities.
        <br>
        Panic attacks, generalized anxiety disorder, post traumatic stress disorder, obsessive compulsive disorder, social anxiety disorder (social phobia), specific phobias</p>
    </div>
    <div class="speciality" id="depression">
        <h2>Depression</h2>
        <p>Feeling unhappy or hopeless, low self-esteem and finding no pleasure in things you usually enjoy.
        <br>
        Single or repeated depressive episodes, reactive depression ( triggered by a particular stressful event), adjustment disorders</p>
    </div>
    <div class="speciality" id="chronic-pain">
        <h2>Chronic pain</h2>
        <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
        <br>
        Debititis beaut squie amet veritutus elit.</p>
    </div>
</div>

<div class="issues">
  <p><i class="far fa-square"></i>    Behavioural Issues</p>
  <p><i class="far fa-square"></i>    Bereavement</p>
  <p><i class="far fa-square"></i>    Bipolar Disorder</p>
  <p><i class="far fa-square"></i>    Borderline Personality</p>
  <p><i class="far fa-square"></i>    Chronic Illness</p>
  <p><i class="far fa-square"></i>    Coping Skills</p>
  <p><i class="far fa-square"></i>    Emotional Disturbance</p>
  <p><i class="far fa-square"></i>    Life Transitions</p>
  <p><i class="far fa-square"></i>    Obsessive-Compulsive (OCD)</p>
  <p><i class="far fa-square"></i>    Peer Relationships</p>
  <p><i class="far fa-square"></i>    Relationship Issues</p>
  <p><i class="far fa-square"></i>    Self Esteem</p>
  <p><i class="far fa-square"></i>    Sexual Abuse</p>
  <p><i class="far fa-square"></i>    Stress</p>
  <p><i class="far fa-square"></i>    Trauma and PTSD</p>
</div>

<%# <div class="specialities">
  <div class="speciality" id="age">
    <h2>Age groups</h2>
    <p>Teenagers (14-19)
    <br>
    <p>Adults
    <br>
    <p>Elderly (65+)
    </p>
  </div>
  <div class="speciality" id="languages">
    <h2>Languages</h2>
    <p>Spanish
    <br>
    <p>Portuguese
    </p>
  </div>
  <div class="speciality" id="">
    <h2>Chronic pain</h2>
    <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
    <br>
    Debititis beaut squie amet veritutus elit.</p>
  </div>
</div> %>

<div class="section">
  <h1 class= "text-center anchor" id="fees">FEES</h1>
  <hr>
  <div class="fees">
    <div id="fees-left">
      <p><strong>Sessions: £100 for sessions lasting 45 minutes</strong>
      <br>
      <br>
      You can send an e-mail to arrange a free 10 minute consultation over the phone to help me identify your needs and way forward. I offer virtual or face to face consultations at my consulting rooms in the Chiswick area, very close to Gunnersbury Station.</p>
      <br>
    </div>
    <div id="fees-right">
      <p><strong>Accepted Insurance Plans</strong></p>
      <p><i class="fas fa-check"></i> AXA PPP
      <br><i class="fas fa-check"></i> Aetna Global Benefits
      <br><i class="fas fa-check"></i> Aviva
      <br><i class="fas fa-check"></i> Vitality</p>
    </div>
  </div>
  <div id="temp">
    <p>Please note that at present I am only offering telephone or video calling through Skype, WhatsApp or zoom.</p>
  </div>
</div>

<div class="section">
  <h1 class= "text-center anchor">CONTACT ME</h1>
  <hr>
  <div class="contact" id="contact">
    <form
      action="https://formspree.io/xwkwpklp"
      method="POST">
      <label class="form-group text-left">Your email:
        <input type="email" class="form-control width" placeholder="name@example.com" name="_replyto">
      </label>
      <br>
      <label class="form-group text-left">Message:
        <textarea class="form-control width" rows="3"></textarea>
      </label>
      <br>
      <div id="btn-holder">
        <button type="submit" class="btn-enquire text-center">Send</button>
      </div>
    </form>
  </div>
</div>

</div>
