<div class="home">
<%= render 'components/navbar'%>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593227500315-8bad8e6d751a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center" id="banner-text">
    <h1>London-based therapist, specialising in anxiety, depression and chronic pain</h1>
    <p><em>I believe in creating a trusting and compassionate environment where people can openly discuss their difficulties.</em></p>
    <button class="btn-enquire">Enquire now</button>
  </div>
</div>

<div class="profile">
  <%= image_tag 'profile.png', class: "avatar" %>
  <div class="profile-text">
    <div class="profile-head">
    <h2>Hello, I'm Julie<h2> 
    <div class="profile-para">
    <p>I know how difficult it is to find a therapist you can trust for help with your emotional and psychological difficulties. Sometimes our suffering is concealed from friends, family or colleagues because we are good at hiding it but deep inside, we are left feeling far from happy, fulfilled or content. At other times our difficulties are more noticeable. I am passionate about helping people live better lives. I help them discover what matters to them, what type of person they want to be and how they would like to behave. Once their values are clarified I help them make sustainable changes towards the things that are important to them.
    <br>
    <br> I see adolescents, adults and older adults with anxiety disorders (phobias, social anxiety, health anxiety, OCD, PTSD, panic attacks, GAD), depression (acute, chronic, SAD), personality disorders, bereavement, loss, abuse, neglect, anger and relationship problems. I have a particular interest in physical health conditions such as chronic pain and CFS.
    <br>
    <br> I am an experienced Clinical Psychologist with 15 years in the NHS. I believe in creating a trusting and compassionate environment where people can openly discuss their difficulties. I consider myself a kind, empathic and pragmatic therapist who works with integrity and treats confidentiality as paramount. I offer therapy either face to face or via Skype.</p> 
    </div>
    </div>
  </div>
</div>

<div class="specialities">
    <div class="speciality" id="anxiety">
        <h2>Anxiety</h2>
        <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
        <br>
        Debititis beaut squie amet veritutus elit.</p>
    </div>
    <div class="speciality" id="depression">
        <h2>Depression</h2>
        <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
        <br>
        Debititis beaut squie amet veritutus elit.</p>
    </div>
    <div class="speciality" id="chronic-pain">
        <h2>Chronic pain</h2>
        <p>Lorem ipsum dolor sit emet consectetur adispiscing elit.
        <br>
        Debititis beaut squie amet veritutus elit.</p>
    </div>
</div>

<div class="issues">
    <p>Behavioural Issues</p>
    <p>Bereavement</p>
    <p>Bipolar Disorder</p>
    <p>Borderline Personality</p>
    <p>Chronic Illness</p>
    <p>Coping Skills</p>
    <p>Emotional Disturbance</p>
    <p>Life Transitions</p>
    <p>Obsessive-Compulsive (OCD)</p>
    <p>Peer Relationships</p>
    <p>Relationship Issues</p>
    <p>Self Esteem</p>
    <p>Sexual Abuse</p>
    <p>Stress</p>
    <p>Trauma and PTSD</p>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center" id="banner-text">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum beatae dolorum nulla nihil magnam, sapiente molestiae aspernatur quisquam impedit tempore accusamus. </em></p>
  </div>
</div>

<%= link_to 'Contact form', new_contact_path %>
</div>
