.issues {
  background-color: $brown;
  z-index: -1;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  p {
    font-family: 'Rajdhani', sans-serif;
    color: $darkblue;
    font-size: 16px;
  }
}
