@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.navbar-js {
  // justify-content: space-between;
  background: #f6f6f6;
  text-align: center;
  // height: 110px;
}

.navbar-js h1 {
  color: #000000;
}

.navbar-js h4 {
  color: #000000;
  font-family: 'Lato', sans-serif;
}

.navbar-js h5 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
;
}

.logo {
  width: 100px;
}

.navbar-js .navbar-collapse {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.navbar-collapse a {
  color: #000000;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.icon {
  color: #F6F6F6;
  &:hover {
    color: #F6F6F6;
    cursor: default;
  }
}

#julie {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 1px px rgba(0,0,0,0.2);
}

@media (max-width: 750px) { 
  .navbar-collapse {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    position: relative;
  }
     
  .navbar-collapse #myLinks {
    display: none;
  }
  
  .navbar-collapse a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }
  
  .navbar-collapse a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon {
    color: black;
    &:hover {
      color: black;
    }
  }
i {  
  padding-bottom: 15px !important;
}

  .navbar-collapse a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #4CAF50;
    color: #F6F6F6;
  }

  #julie {
    padding-top: 10px;
  }
}