.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
  // display: flex;
  // justify-content: space-around;
  padding-top: 45px;
  margin: 0 100px 40px 100px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.profile-text {
  padding-left: 50px;
}

.profile-head {
  h2 {
    color: black;
  }
  p {
    color: black;
    font-size: 14px;
  }
}

@media (max-width: 576px) {  
 .profile {
    grid-template-columns: 1fr;
    margin: 10px 25px 10px 25px;
    padding-top: 10px; 
  }
  .profile-text {
    padding-left: 0;
    margin-top: 12px;
    text-align: justify;
 }
 .avatar {
   text-align: center;
   margin: auto;
 }
}