.specialities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;

    // display: flex;
    // flex-wrap: wrap;
}

/* Small devices */
@media (max-width: 576px) {  
 .specialties {
    display: grid;
    grid-template-columns: 1fr;
 }
}

.speciality {
    flex: 1;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    h2 {
        font-family: 'Rajdhani', sans-serif;
        color: $darkblue;
    }

    p {
        font-family: 'Rajdhani', sans-serif;
        color: $darkblue;

    }
}
 
#anxiety {
    background-color: $purple;
}
#depression {
    background-color: $green;
}
#chronic-pain {
    background-color: $pink;
}