.topbar-js {
    justify-content: space-between;
    background: $green;
    position: fixed;
    top: 0;
    opacity: 1;
    width: 100%;
    z-index: 1;
    height: 10vh;
}

.topbar-js .topbar-jslogo img {
  width: 40px;
}

// #call-text {
//     color: white;
//     align-items: center;
// }

@media (max-width: 576px) { 
  .topbar-js {
    height: 6vh;
  }
  .topbar-js .topbar-jslogo img {
  width: 30px;
  } 
}